*{
    margin: 0;
    padding:0;
    font-family: Arial;
    /* background-image: url(bg.jpg)no-repeat center fixed ; */
  }

  body{
    background-image: url(bg.jpg);

  }
  header{
   background-image: url(https://data.whicdn.com/images/355669291/original.jpg?t=1621542225);
   height: 90px;
   background-size: contain;
   background-position:center;
   border:#000;
   border-bottom-width: 5px;
  }
  ul{
    
    float: right;
    list-style-type: none;
    margin-top: 25px;
  }
  
  ul li{
    display: inline-block;
  
  }
  ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
  }
  
  ul li a:hover{
  background-color: #fff;
  color: #000;
  }
  ul li.active a {
    background-color: #fff;
  color: #000;
  }
  .logo img{
    float: left;
    width: 250px;
    height: 90px;
    margin-left: 0;
    border: #000;
    border-color: #000;
     
  }
  .main{
    max-width: 1500px;
  
  
  }
  
    .title {
      
      float: left;
      list-style: none;
      padding: 0 16px;
     margin-top: 25px;
      left: 2vh;
      font-size: 40px;
      letter-spacing: 2px;
  }
  .title h1{
  
    color:#fff;
    font-size:30px;
  
  }
  .aboutspark h2{
    font-family:Garamond;
    font-weight: 120;
    color: black;
    margin-top: 50px;
    text-align: center;
    margin-left: 45px;
    font-size: 45px;
  }
  .aboutspark h3{
    margin-left: 50px;
    font-size:24px;
    font-weight:lighter;
    font-family:Times New Roman;
    text-align: center;
    color: maroon;
    
  }
  .quote h4{
  font-family: garamond;
  font-style: italic;
  font-size: medium;
  text-align: center;
  color: rgb(149, 136, 233);
  margin-top: 15px;
  }
  
  
   .banner
  {
    height:90px;
  }


  .upcoming{
    padding-left: 20px;
    padding-top: 15px;
  }

  .details{
    display: inline-block;
    display: block;
    padding: 20px;
    padding-left: 35px;
   /* position:relative; */
   margin: 10px;
   background-color: #BC1823;
   color: white;
   border-radius: 20px;
   font-size: 20px;
   /* float: left; */
  }

  /* .info .notepad{
     position: fixed; 
     display: block;

     align-items:flex-end;
    /* right: 200px; */
    /* height: 75%; */
  /* } */ 

  .info .notepad{
    width: 25%;
    float: right;
    height: fit-content;
    bottom: 50px;
    /* width: 100%; */
  }
  .u-test{
    margin:auto;
    padding: 5px;
  }

/* SECTION 2 */
.section-2 {
  margin: 20px;
  padding: 20px;
  background-color: none;
  padding-right: 0px;
  border-right: 0px;
  margin-right: 0px;
}
.section-2 .section-2-container h3 {
  margin-bottom: 10px;
}
.section-2 .section-2-container .product-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.section-2 .section-2-container .product-card {
  display: inline-block;
  width: 300px !important;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .section-2-container .product-card img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
}
.edit{
  color: darkgrey;
  border-width: 54px;
}